*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body{
   position: relative;
 }
 body.unscroll{
   overflow: hidden;
   padding-right:25px ;
 }
 a{
   text-decoration: none;
 }
 ul,li{
   list-style: none;
 }
 .none{
   display: none;
 }
.app-container{
   max-width: 1700px;
   margin: 0 auto;
   padding: 0 10px;
}
#intro{
   margin-top: 50px;
}
.section-title{
   position: relative;
   font-weight: 600;
}
.section-title::after{
   position: absolute;
   content: "";
   width: 50%;
   height: 4px;
   background-color: #FACA10;
   top: 100%;
   left: 0;
}
section:not(#intro){
   margin-top: 85px;
}
button{
   cursor: pointer;
}
.btn-normal{
   width: 170px;
   height: 52px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   border: none;
}
.btn-big{
   width:402px;
   height: 52px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   border: none;
   background-color: #FACA10;
   font-size: 18px;
   letter-spacing: 2px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.btn-more{
   width: 407px;
   height: 52px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   background-color: #FACA10;
   font-size: 18px;
   letter-spacing: 2px;
   border-radius: 10px;
   border:0;
}
.btn-yellow{
   background-color: #F2E534;
}
.radius-l2{
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
.radius-r2{
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}
.radius-10{
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}